@inherits LayoutComponentBase
@inject AuthenticationStateProvider _authenticationStateProvider

<div class="page">
    <AuthorizeView Roles="@SD.Role_Admin">
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <main>
        @if (_navBarVisible)
        {
            <NavBar></NavBar>
        }
        @*  <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@
        @* 
        <article class="content px-4"> *@
        @Body
        @* </article> *@
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    public bool _navBarVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _navBarVisible = await showNavBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _navBarVisible = await showNavBar();
    }
    private async Task<bool> showNavBar()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var authenticated = user.Identity is not null && user.Identity.IsAuthenticated;

        if (!authenticated)
            return true;

        if (!user.IsInRole(SD.Role_Admin))
            return true;

        return false;
    }
}